html{
    background-color:black;
}

body {
  height: 100vh;
  margin: 0;
  padding: 1rem;
  display: grid;
  place-items: center;
  font-family: system-ui;
}

h1{
  background: cyan;
  padding: 1rem 2rem;
  text-align: center;
}

#quoteDisplay{
    color : cyan;
    height:20px;
    margin:20px;
    padding:20px;
}